:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --color-white-main: #ffffff;
  --color-slate-primary: #434455;
  --color-navy-blue-secondary: #2e2f42;
  --color-iris-brand: #4d5ae5;
  --color-ocean-pressed: #404bbf;
  --color-cloud: #f4f4fd;
  --color-cornflower: #e7e9fc;
  --color-green: #31d0aa;
  --color-light-slate: #8e8f99;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: var(--font-primary);
  color: var(--color-slate-primary);
  background-color: var(--color-white-main);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/** .container {} */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/* 
?? .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


?? border:1px solid #E7E9FC;
?? border-top: none


.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
container { 
  max-width: 1158px 
  padding: 0 15px; 
  margin: 0 auto; }
ширина контетної частини(1128px) + падінги по боках(15px) = 1158px 
  ?? flex-basis або width: 
  ?? calc( (ширина батьківського елемента - 
  ?? кількість проміжків * марджин елемента) / 
  ?? кількість наших елементів в рядку)

  */

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}
.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}

/*?? display: block */
/*?? кнопка не flex, a inline-blok */

.modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.modal-btn-hero {
  background-color: var(--color-iris-brand);
  color: var(--color-white-main);
}
.modal-btn:is(:hover, :focus) {
  background-color: var(--color-ocean-pressed);
  color: var(--color-white-main);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< COMPONENTS COLOR */
.title-theme-dark {
  color: var(--color-white-main);
}
.title-theme-light {
  color: var(--color-navy-blue-secondary);
}
.text-theme-dark {
  color: var(--color-cornflower);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< COMPONENTS STYLE */
/* <<<<<<<<<<<<<<<<<< Main Title */
.main-title {
  font-size: 56px;
  line-height: 1.07;
  width: 496px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
/* <<<<<<<<<<<<<<<<<< Section Title */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
/* <<<<<<<<<<<<<<<<<< Section Subtitle */
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
/* <<<<<<<<<<<<<<<<<< Basic Text */
.body-text-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HEADER */
.logo {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris-brand);
}

.logo-studio-header {
  color: var(--color-navy-blue-secondary);
}

.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue-secondary);
}

.menu-link:is(:active, :hover, :focus),
.address-link:is(:active, :hover, :focus) {
  color: var(--color-ocean-pressed);
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
/*TODO 

.page-nav {
}
.menu {
}
.menu-item {
}
.contact {
} */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< HERO */
.hero {
  background-color: var(--color-navy-blue-secondary);
  padding-top: 188px;
  padding-bottom: 188px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< COMPANY ADVANTAGES */
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< COMPANY PRODUCTS */
.products {
  padding-bottom: 120px;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< COMPANY TEAM */
.team {
  background-color: var(--color-cloud);
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  background-color: var(--color-white-main);
}

/** <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< PORTFOLIO */

.modal-btn-filter {
  background-color: var(--color-cloud);
  color: var(--color-iris-brand);
}
/*TODO 
.portfolio-link {
}
.portfolio {
} */
.portfolio-text {
  color: var(--color-slate-primary);
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FOOTER */

.logo-studio-footer {
  color: var(--color-cloud);
}
.footer {
  background-color: var(--color-navy-blue-secondary);
  padding-top: 100px;
  padding-bottom: 100px;
}
